.audioContainer{
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid white;
}
.audio-controls{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.audio-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.audio-result{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}